In [1]:
import pandas as pd
covid_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')
print(covid_data)
print("\nDataset information:")
print(covid_data.info())
print("\nMissing data information:")
print(covid_data.isna().sum())

    Province/State                  Country/Region          Last Update  \
0            Hubei                           China  2020-03-17T11:53:10
1              NaN                           Italy  2020-03-17T18:33:02
2              NaN                            Iran  2020-03-17T15:13:09
3              NaN                           Spain  2020-03-17T20:53:02
4              NaN                         Germany  2020-03-17T18:53:02
..             ...                             ...                  ...
271            NaN                        Guernsey  2020-03-17T18:33:03
272            NaN                          Jersey  2020-03-17T18:33:03
273            NaN                     Puerto Rico  2020-03-17T16:13:14
274            NaN           Republic of the Congo  2020-03-17T21:33:03
275            NaN  occupied Palestinian territory  2020-03-11T20:53:02

     Confirmed  Deaths  Recovered  Latitude  Longitude
0        67799    3111      56003   30.9756   112.2707
1        31506    2503       2941   41.8719    12.5674
2        16169     988       5389   32.4279    53.6880
3        11748     533       1028   40.4637    -3.7492
4         9257      24         67   51.1657    10.4515
..         ...     ...        ...       ...        ...
271          0       0          0   49.4500    -2.5800
272          0       0          0   49.1900    -2.1100
273          0       0          0   18.2000   -66.5000
274          0       0          0   -1.4400    15.5560
275          0       0          0   31.9522    35.2332

[276 rows x 8 columns]

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
Province/State    126 non-null object
Country/Region    276 non-null object
Last Update       276 non-null object
Confirmed         276 non-null int64
Deaths            276 non-null int64
Recovered         276 non-null int64
Latitude          276 non-null float64
Longitude         276 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.4+ KB
None

Missing data information:
Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

In [2]:
covid_data.head(15)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515
5,NaN,"Korea, South",2020-03-17T10:33:03,8320,81,1407,35.9078,127.7669
6,France,France,2020-03-17T19:13:08,7652,148,12,46.2276,2.2137
7,NaN,Switzerland,2020-03-17T16:33:04,2700,27,4,46.8182,8.2275
8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481
10,Netherlands,Netherlands,2020-03-17T15:13:11,1705,43,2,52.1326,5.2913
11,NaN,Norway,2020-03-17T19:53:02,1463,3,1,60.4720,8.4689
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244
13,NaN,Austria,2020-03-17T15:33:06,1332,3,1,47.5162,14.5501
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140